<form action="https://secure.nmi.com/cart/cart.php" method="POST">
<input type="hidden" name="key_id" value="8269119" />
<input type="hidden" name="action" value="process_variable" />
<input type="hidden" name="order_description" value="Donate to Generous Gardeners!" />
<input type="hidden" name="language" value="en" />
<input type="hidden" name="url_finish" value="http://generousgardeners.org/donation-thank-you/" />
<input type="hidden" name="customer_receipt" value="true" />
<input type="hidden" name="hash" value="action|order_description|bf165afbad209539476469513ab89b25" />
<input type="submit" name="submit" value="Donate to Generous Gardeners" id="donatesubmit" />
</form>
