<div id="buynowarea">
  <form action="https://secure.nmi.com/cart/cart.php" method="POST">
    <label for="product_quantity_1" id="buynowlabel">Quantity:</label>
<input type="text" size="6" name="product_quantity_1" id="buynowquantity" />
<input type="hidden" name="key_id" value="8269119" />
<input type="hidden" name="action" value="process_cart" />
<input type="hidden" name="product_sku_1" value="2018GGT" />
<input type="hidden" name="product_description_1" value="2018 Gloucester Garden Tour Ticket" />
<input type="hidden" name="product_amount_1" value="30.00" />
<input type="hidden" name="url_continue" value="http://generousgardeners.org/gloucester-garden-tour/" />
<input type="hidden" name="language" value="en" />
<input type="hidden" name="url_cancel" value="http://generousgardeners.org/gloucester-garden-tour/" />
<input type="hidden" name="url_finish" value="http://generousgardeners.org/thank-you/" />
<input type="hidden" name="customer_receipt" value="true" />
<input type="hidden" name="hash" value="action|product_sku_1|product_description_1|product_amount_1|77c291d682cded8648782a5862a8a6a1" />
<input type="submit" name="submit" value="Add to Cart" id="buynow" />
</form>

</div>
