/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}
.clear {
  clear: both;
}
.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

#donatebox {
  width: 500px;
  height: 40px;
  float: left;
  margin-top: -45px;

}

#buynowlabel {
  font-size: 18px;
}
#donateamount {
  font-size: 18px;
  padding: 6px;
  width: 25px;
  border-radius: 5px;
  border: solid 1px $brand-color;
}
#donatesubmit {
  font-size: 18px;
  font-weight: bold;
  background: $brand-color;
  color: #fff;
  padding: 6px 10px;
  border: solid 1px #efefef;
  border-radius: 5px;
}
.site-nav {
  border-bottom: solid 1px $grey-color-light;
  height: 32px;
  padding: 10px 0;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    font-size: 20px;


  }

.sitemenu {
  list-style: none;
  margin: 0 auto;
  width: 800px;
  padding: 0;
}

.sitemenu li {
  display: block;
  float: right;
  padding: 0 0 8px 30px;
  margin: 0;
  height: 28px;
  border: solid 1px transparent;
}
.sitemenu ul {
  padding-top: 10px;
}
.sitemenu ul li {
  float: none;
  padding: 15px 10px 10px 10px;
  display: block;
  margin: 0;

@include media-query($on-palm) {
  height: auto;;
}

}

.sitemenu li ul {
  display: none;
  padding: 0;
  margin: 9px 0 0 0;
  background: none;
}


.sitemenu li:hover ul {
  display: block;
  background: #fff;
  position: absolute;
  border-top: none;
  line-height: normal;
}

.sitemenu li:hover ul ul {
  list-style: none;
  border: solid 3px red;
  display: none;
  font-size: 12px;
}

.sitemenu li.active {
    font-weight: bold;
  }

  .sitemenu li.active ul li {
      font-weight: normal;
    }

  a:hover {
    color: $brand-color;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/** Buy Now Button **/
#buynowarea {
  text-align: center;
  margin: 20px 0;
}
#buynowlabel {
  font-size: 18px;
}
#buynowquantity {
  font-size: 18px;
  padding: 10px;
  width: 25px;
  border-radius: 5px;
  border: solid 1px $brand-color;
}
#buynow {
  font-size: 18px;
  font-weight: bold;
  background: $brand-color;
  color: #fff;
  padding: 10px;
  border: solid 1px #efefef;
  border-radius: 5px;
  width:200px;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    padding-bottom: $spacing-unit/2;
    border-bottom: solid 1px $grey-color-light
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.event-meta {
  font-weight: bold;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

li.featuredpost {
  border-bottom: solid 1px $grey-color;
}

.eventheader {
  font-weight: bold;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
